---
Language: Cpp
Standard: c++20
ColumnLimit: 120
AccessModifierOffset: -2
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: DontAlign
...
